#main__container
{
 height: 300px;
 width: 500px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border:darksalmon solid 5px;
 border-radius: 50%;
 background-color: firebrick;



 
}

button{
    width: 150px;
    height: 100px;
    background-color:darkgoldenrod;
    
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;

    

}
